@{
    ViewData["Title"] = "Leaves";
    Layout = "_LayoutAdmin";
}

<div class="card">
    <ul class="nav nav-tabs" id="myTab" role="tablist">

        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Normal Leaves</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Special Leaves</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile1-tab" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile1" aria-selected="false">Mass Leaves</a>
        </li>
    </ul>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="table-responsive">
                    <h1 class="text-xl-center">Cuti Normal</h1>
                    <table class="display table table-striped dataTable">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Nama Cuti</th>
                                <th scope="col">Ketentuan</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" id="normalTable">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <h1 class="text-xl-center">Cuti Khusus</h1>
                    @if (User.IsInRole("Admin")) {
                        <button class="btn btn-primary btn-add ml-3 mb-2" data-toggle="modal" data-target="#leaveModal"><i class="fas fa-plus"></i><i> </i>Add Data</button>
                        }
                    <table class="display table table-striped dataTable">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Nama Cuti</th>
                                <th scope="col">Ketentuan</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" id="specialTable">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile1-tab">
                <div class="table-responsive">
                    <h1 class="text-xl-center">Cuti Bersama</h1>
                    <table class="display table table-striped dataTable">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Nama Cuti</th>
                                <th scope="col">Tanggal</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" id="massTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content modal">
            <div class="modal-header bg-dark border-dark">
                <h4 class="modal-title text-light" id="exampleModalLabel">Add New Leave</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" id="leaveModalBody">
                <form class="needs-validation" id="leaveForm" onsubmit="return false">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="leaveName">Name</label>
                                <input type="text" class="form-control" id="leaveName" placeholder="Leave Name" required>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="col">
                                <label for="leavePeriod">Period</label>
                                <input type="text" class="form-control" id="leavePeriod" placeholder="Leave Period" required>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                        </div>
                        <br />
                        <div style="text-align:right">
                            <button type="submit" class="btn btn-primary" id="btn-insert" onclick="addLeave()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/leave.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
}

