@{
    ViewData["Title"] = "Login Page";
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.4/dist/sweetalert2.min.css">
}

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form id="forgotPasswordForm">
            <h5>Forgot Password?</h5>
            <span>Enter your email</span>
            <input id="inputEmail" type="email" placeholder="Email" />
            <button type="submit" class="button">Send OTP</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="/Login/Auth/" method="post" id="loginForm">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="/" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="/" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="/" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span>
            <input type="email" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <span class="text-danger font-weight-bold">@TempData["msg"]</span>
            <a href="#">Forgot your password?</a>
            <button type="submit" class="button">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Hello!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Forgot Your Password?</h1>
                <p>
                    We get it, stuff happens. Just click the button below, then enter your email address
                    and we'll send you an otp to reset your password!
                </p>
                <button class="ghost" id="signUp">Forgot Password</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/login.js"></script>
    <script type="text/javascript" src="~/js/fogotPassword.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.4/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.4/dist/sweetalert2.min.js"></script>
}
