@{
    ViewData["Title"] = "Login Page";
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="form-container sign-in-container">
    <form action="/Login/Auth/" method="post" id="loginForm">
        <h1>Sign in</h1>
        <br />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <span class="text-danger font-weight-bold">@TempData["msg"]</span>
        <a href="#">Forgot your password?</a>
        <button type="submit" class="button">Sign In</button>
    </form>
</div>
<div class="overlay-container">
    <div class="overlay">
        <div class="overlay-panel overlay-right">
            <h1>Welcome!</h1>
            <br />
            <img src="https://99designs-start-assets.imgix.net/images/homepage/pro/studio-fc609f1df7.png?auto=format&ch=Width%2CDPR&w=742&h=524&dpr=1" alt="..." class="logo">
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/login.js"></script>
}